{% extends 'base.html.twig' %}
 
 
{% block montitre %}Affichage des commentaires {% endblock %}


{% block body %}
{% include "menu_biblio_admin.html.twig" %}

<div class="row btn btn-outline-warning">

<div>
<h1><table class="table table-striped bordored-radius=2px text-center ">
        <thead class="table-danger">
            <tr>
            <th>Id</th>
                <th>Auteur</th>
                <th>Mail</th>
                 <th>Date</th>
                 <th>Commentaire</th>
                <th>Action</th>
                <th>Editer</th>
                <th>Supprimer</th>
                

            </tr>
        </thead>
        <tbody>
        {% for commentaire in commentaires %}
        <tr>
        <td>
          {{commentaire.id}}
        </td>
        
        <td>
          {{auteur.nom}}
        </td>
        
        <td>
          {{commentaire.mail}}
        </td>
        <td>
          {{commentaire.commentaire}}
        </td>

        <td>
        <ol>
          {% for article in commentaire.article %}
  <li> <span style="border:2px;border-radius:50px;background-color:blue;">{{ article.id }}
  </span> 
  <span>{{ article.titre }}</span>  </li>
  {% endfor %}
  </ol>
       </td>
 
        
        
        
        
        </tr>
        
        
{% endfor %}
          


        </tbody>
    </table>
{% endblock %}
