{% extends "base.html.twig" %}
{% block body %}
{% include "menu_biblio_admin.html.twig" %}

<div class="row btn btn-outline-warning">
  <h1><a class="nav-link " href="{{path('aut_formulaire')}}">Ajouter un nouvel auteur !</a>

</div>

    <table class="table table-striped bordored-radius=2px text-center ">
      <thead class="table table-danger">
          <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Mail</th>
                <th>Action</th>
                <th>Editer</th>
                <th>Supprimer</th>
              </tr>
            </thead>
            <tbody>
        {% for auteur in auteurs %}
        <tr>
        <td>
          {{auteur.id}}
        </td>
        
        <td>
          {{auteur.nom}}
        </td>
        
        <td>
          {{auteur.prenom}}
        </td>
        <td>
          {{auteur.mail}}
        </td>
        
        <td>
          <a href="{{path('affi_auteur', {'id':auteur.id})}}">Plus d'infos</a>
        </td>
        <td>
          <a href="{{path('edit_auteur', {'id':auteur.id})}}">Modifier</a>
        </td>
        
        <td >
        </td>
        
        
        
        
{% endfor %}
          


        </tbody>
    </table>
{% endblock %}
