{% extends 'base.html.twig' %}

{% block title %} Les utilisateurs {% endblock %}

{% block body %}

<div class="row btn btn-outline-warning">
      
  <h1><a class="nav-link "href="{{path('form_uti')}}">Ajouter un utitlisateur</a></h1>
    
</div>

  <div>
  <h1>utilisateurs </h1>
  <table class="table table-striped bordored-radius=2px text-center ">
    <thead class="table-danger">
        <tr>
      <th >id</th>
      <th >nom</th>
      <th >prenom</th>  
      <th >Adresse</th>  
      <th >motdepasse</th>
      <th >login</th>
      <th >Photo</th>
      <th >email</th>
      <th >Action </th>
      <th >Editer </th>
      <th >Supprimer </th>
    </tr>
  </thead>
  <tbody>
  {% for ut in utilisateurs %}
    <tr>
      <th scope="row"> {{ut.id}}
      </th>
      <td> {{ut.nom}}
      </td>
      <td> {{ut.prenom}}
      </td>
      <td> {{ut.adresse}}
      </td>
      <td> {{ut.motdepasse}}
      </td>
      <td> {{ut.login}}
      </td>
      <td> {{ut.photo}}
      </td>

      <td> {{ut.email}}
      </td>
      <td class="bg-outline-success">
        <a href="{{ path('uti_affiche', {'id':ut.id})}}">Cliquez ICI !</a>
      </td>
      <td class="bg-outline-info">
        <a href="{{ path('edit_utilisateur', {'id':ut.id})}}">Modifier!</a>
      </td>
      <td class="bg-outline-danger">
        <a href="{{ path('suppr_utilisateur', {'id':ut.id})}}">Supprimer!</a>
      </td>

   {% endfor %}
      
    </tr>
  </tbody>
</table>


    {% endblock body %}
