
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
			
<nav class="navbar navbar-expand-lg navbar-light bg-dark ">
  <div class="container-fluid">
      <div class="navbar-nav">
        <a class="nav-link text-white" href="{{ path('article') }}">Articles</a>                        
        <a class="nav-link text-white" href="{{ path('bibi_documentation') }}">Document</a>                        
        <a class="nav-link text-white" href="{{ path('bibi_contact') }}">Contact </a>                        
        <a class="nav-link text-white" href="{{path('bibi_apropos')}}">A propos</a>                        
        <a class="nav-link text-white" href="{{ path('bibi_user') }}">profil</a>                        
        <a class="nav-link text-white" href="{{path('bibi_administration')}}">Administration</a>                        
        <a class="nav-link text-white" href="{{ path('bibi_connexion') }}"> Connexion</a>                        
        <a class="nav-link text-white" href="{{ path('bibliotheque') }}"> Deconnexion</a>                        
        <a class="nav-link text-white disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </div>
    </div>
  </div>
    
  </div>
</nav>
 
   