{% extends 'base.html.twig' %}
 
 
{% block montitre %}Affichage des categories {% endblock %}


{% block body %}
{% include "menu_biblio_admin.html.twig" %}

<div class="row btn btn-outline-warning">
  <h1><a href="{{path("formulaire_affiche")}}">Ajouter une nouvelle categorie </a></h1>

<div>
<h1><table class="table table-striped bordored-radius=2px text-center ">
        <thead class="table-danger">
            <tr>
            <th>Id</th>
                <th>Titre</th>
                <th>Resume</th>
                 <th>Articles</th>
                <th>Action</th>
                <th>Editer</th>
                <th>Supprimer</th>
                

            </tr>
        </thead>
        <tbody>
        {% for categorie in cat %}
        <tr>
        <td>
          {{categorie.id}}
        </td>
        
        <td>
          {{categorie.titre}}
        </td>
        
        <td>
          {{categorie.resume}}
        </td>

        <td>
        <ol>
          {% for article in categorie.article %}
  <li> <span style="border:2px;border-radius:50px;background-color:blue;">{{ article.id }}
  </span> 
  <span>{{ article.titre }}</span>  </li>
  {% endfor %}
  </ol>
       </td>
 
        
        <td >
          <a href="{{path('cat_affiche',{'id':categorie.id})}}">plus d'infos!</a>
        </td>
        
        
        
        <td class="">
          <a href="{{path('edit_categorie',{'id':categorie.id})}}">Modifier !</a>
        </td>
        
        <td class="bg-danger">
          <a href="{{path('suppr_categorie',{'id':categorie.id})}}">Supprimer !</a>
        </td>
        
        
        </tr>
        
        
{% endfor %}
          


        </tbody>
    </table>
{% endblock %}
