{% extends 'base.html.twig' %}

{% block title %}New Articles{% endblock %}
{% block montitre %}Informations sur {{ articles.titre }} {% endblock %}

{% block body %}

<div class="navbar">
    {% include "menu_biblio_admin.html.twig" %}

</div>
<div class="btn btn-warning center-block">
    <h1><a href="{{path("article")}}">Retour aux Articles !</a></h1>
  </div>
  
<table class="table">
        <thead>
            <tr>
                <th>id</th>
                <th>images</th>
                <th>resume</th>

            </tr>
        </thead>
        <tbody>

            <tr>
                <td>{{ articles.id }}</td>
                <td>{{ articles.images }}</td>
                <td>{{ articles.resume }}</td>
                
            </tr>

        </tbody>
    
    </table>
<div class="jumbotron">
    <h1>
    Auteur Lié A l'Article<h1>
    <ul>
<li>nom: {{ auteur.nom}}</li>

</ul>
</div>
<div>
<h2>
    {{ articles.titre }}

</h2>
</div>
    <p>
      {{ articles.contenu}}

    </p>

<div class="jumbotron">    
<h1 class="display-4">Lire les  Commentaires </h1>
{% for com in articles.commentaires %}
<div class="alert alert-secondary" role="alert">

<h4>Commenté le : {{com.date|date("d/m/Y")}}</h4>
    <h2>commentaire : {{com.commentaire}}<h2>
    {% else %}
    Aucun commentaire
</div>
</div>
           {% endfor %}
           <div>
           <h2>laissser un commentaire </h2>
           </div>   
          <div class="form-control border border-5 width=50 border-dark rounded-pill bg-info">
    {{ form(form) }}
      </div>

           </div>
           
           
           

{% endblock %}
