{% extends 'base.html.twig' %}

{% block title %}New Articles{% endblock %}
{% block montitre %}Informations sur {{ articles.titre }} {% endblock %}

{% block body %}
<div class="navbar">
    {% include "menu_biblio_admin.html.twig" %}

</div>
<div class="btn btn-warning center-block">
    <h1><a href="{{path("article")}}">Retour aux Articles !</a></h1>
  </div>
  
<table class="table">
        <thead>
            <tr>
                <th>id</th>
                <th>Title</th>
                <th>Contenu</th>
                <th>images</th>
                <th>resume</th>
                <th>date</th>

            </tr>
        </thead>
        <tbody>

            <tr>
                <td>{{ articles.id }}</td>
                <td>{{ articles.titre }}</td>
                <td>{{ articles.Contenu }}</td>
                <td>{{ articles.images }}</td>
                <td>{{ articles.resume }}</td>
                <td>{{ articles.date|date("d/m/Y") }}</td>
                
            </tr>

        </tbody>
    </table>
    <h1>
    Auteur Lié A l'Article<h1>
    <ul>
<li> {{ auteur.nom}}</li>

</ul>
<h1>Lire les  Commentaires </h1>
{% for com in articles.commentaires %}
<h2>Commenté le : {{com.date|date("d/m/Y")}}</h2>
    commentaire : {{com.commentaire}}
           {% endfor %}
           <div>
           <h2>laissser un commentaire </h2>
           {{ form(form) }}
           </div>
           
           
           

{% endblock %}
