{% extends "base.html.twig" %}
{% block body %}
{% include "menu_biblio_admin.html.twig" %}

<div class="row btn btn-outline-warning">
  <h1><a class="nav-link " href="{{path('ajouter_article_form')}}">Ajouter un nouvel Article !</a>

</div>

    <table class="table table-striped bordored-radius=2px text-center ">
      <thead class="table table-danger">
          <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Resume</th>
                <th>Categorie</th>
                <th>Action</th>
                <th>Editer</th>
                <th>Supprimer</th>
              </tr>
            </thead>
            <tbody>
        {% for article in articles %}
        <tr>
        <td>
          {{article.id}}
        </td>
        
        <td>
          {{article.titre}}
        </td>
        
        <td>
          {{article.resume}}
        </td>
        <td>
          {{article.categorie.titre}}
        </td>
        <td>
          <a href="{{path('art_affichage', {'id':article.id})}}">Cliquez ICI !</a>
        </td>
        
        <td >
          <a class='-warnig'href="{{path('edit_article',{'id':article.id})}}">Modifier!</a>
        </td>
        
        <td class="bg-danger">
          <a href="{{path('suppr_categorie',{'id':article.id})}}">Supprimer !</a>
        </td>
        </tr>
        
        
{% endfor %}
          


        </tbody>
    </table>
{% endblock %}
